.eyes {
  width: 55px;
  margin: 0 auto;
}

.eye {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin: 10px;
  background-color: black;
}

.mouth {
  height: 5px;
  width: 40px;
  border-radius: 10px 10px 30px 30px;
  background-color: black;
  margin: 0 auto;
  -webkit-transition: width .02s, height .02s;
  transition: width .02s, height .02s;
}
